#Register {
    background-color: rgb(255, 255, 255);

    nav {
        justify-content: center;

        a {
            margin: 0 3rem;
        }
    }

    section {
        min-height: 100vh;
    }

    .tab-pane {
        margin: 3em 0;
    }

    table {
        text-align: center;

        th:first-child,
        td:first-child, {
            text-align: initial;
        }

        td {
            &:first-child {
                width: 25%;
                font-weight: bold;
            }
        }
    }
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}