#Login {
    background-color: rgb(243, 243, 243);

    .banner {
        display: flex;
        justify-content: center;
        align-items: center; 

        img {
            height: 50%;
            transition: 0.2s;
        }

        @media (max-width: 768px) {
            img {
                display: none;
            }
        }
    }

    .login-form {
        display: flex;
        justify-content: center;
        align-items: center; 
        min-height: 100vh;
        padding-top: 1rem;
        background-color: #fff;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.2s;

        form {
            width: 65%;

            @media (max-width: 960px) {
                width: 80%;
            }

            .form-group{
                margin: 2.5rem 0;  
                
                input {
                    padding: 1.25em .75em;
                    font-size: 14pt;
                }
            }

         
        }
    }
}