nav {
    text-align: center;
    border-bottom: 1px solid lightgrey;

    .search-bar {
        margin: 0 1rem;
    }

    form {
        margin-right: 10rem;

        input {
            color: red;
        }
    }
}

#Dashboard {
    min-height: 95vh;
    background-color: rgb(243, 243, 243);

    .splash-bg {
        position: fixed;
        top: 55%;
        left: 48%;
        transform: translate(-50%,-50%);
        opacity: 0.075;
    }

    .berita{
        background-color: #fff;
        padding: 1rem;
        border: 1px solid lightgrey;
        border-radius: 1em;
        min-height: 30rem;
    }
}