.App {
    background-color: rgb(236, 236, 236);    
}

.btn-primary {
    background-color: rgb(28, 54, 202) ;
    transition: 0.1s;

    &:hover {
        background-color: rgb(126, 146, 235) ;
    }
}